<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { pageName: "edit page" }) %>
  <body>
    <%- include('partials/nav.ejs')%>
    <h1>Edit Page | <%= post.username%></h1>
    <div>
      <form method="POST" action="/posts/<%= post._id %>?_method=PUT">
        <div>
          <label>Post username</label>
          <input type="text" name="username" value="<%= post.username%>" />
        </div>
        <div>
          <label>Post caption</label>
          <input type="text" name="caption" value="<%= post.caption%>" />
        </div>
        <div>
          <label>Post image</label>
          <input type="text" name="image" value="<%= post.image%>" />
        </div>
        <div>
        <div>
          <input type="submit" value="Edit Post: <%= post.username%>"  />
        </div>
      </form>
    </div>
  </body>
</html>
