<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { pageName: "edit page" }) %>
  <%- include('partials/nav.ejs')%>
  <body>
    <div class="edit-container">
        <div class="row">
          <div class="col">
            
          </div>
          <div class="col-6">
            <div>
              <h1 class="edit"><%= post.username%>'s | Edit Page</h1>
              <br></br>
              <form method="POST" action="/posts/<%= post._id %>?_method=PUT"/>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">@</span>
                  <input type="text" name="username" class="form-control" placeholder="New Username" aria-label="Username" aria-describedby="addon-wrapping" value="<%= post.username%>">
                </div>
                <br></br>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">Image</span>
                  <input type="text" class="form-control" placeholder="(URL)" aria-label="Username" aria-describedby="addon-wrapping" name="image" value="<%= post.image%>">
                </div>
                <br></br>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">Caption</span>
                  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="addon-wrapping" name="caption" value="<%= post.caption%>">
                </div>
                <br></br>
                <div>
                <div class="edit-button">
                  <input class="edit-post" type="submit" value="Edit Post: <%= post.username%>" />
                </div>
              </form>
            </div>
          </div>
          </div>
          <div class="col">
            
          </div>
        </div>
          
  </body>
</html>


