<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs',{ pageName :  "Home of all things Danny DeVito" }) %>

<body>
    <%- include('partials/nav.ejs')%>

    <section class="main">
        <div class="wrapper">
                <div class="post">
                    <div class="user">
                        <div class="info">
                            <% for(let idx=posts.length-1; idx >= 0; idx--){ %>
                                <% const post=posts[idx] %>
                                <% const postId=JSON.stringify(posts[idx]._id) %>
            
                                    <div>    
                                        <div class="user"><a href="/posts/<%= post._id %>" class="username"><%= post.username %></a></div>
                                       
                                        <div class="picture"><a href="/posts/<%= post._id %>"><img class="card-image" src="<%= post.image %>" alt="Placeholder image" /></a></div>

                                        <div class="delete"><form class="delete" method="POST" action="/posts/<%= post._id %>?_method=DELETE">            
                                            <input type="submit" value="delete"/>
                                        </form></div>
                                       
                                        <div class="like"><button class="btn" id=<%= `likeBtn${idx}` %> >Like this picture</button></div>
                                         
                                        <div class="caption-items">    
                                            <h3 id=<%= `likes${idx}` %> >Likes:  </h3>
                                            <h3>Caption: <%= post.caption %> </h3>
                                            <h3>Comments: </h3>
            
                                            <%for (i=0; i< comments.length; i++){%>
                                                <% if (JSON.stringify(comments[i].post) === postId){ %> 
                                                <p><%= comments[i].comment%> </p>
                                                <%}%>
                                            <%}%>
                            <% } %>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            

    </section>
            
    </main>
</body>
</html>