<!DOCTYPE html>
<html lang="en">


<body>

    <section>
        <div>
            <h2 class="title">All Posts</h2>
        </div>
    </section>

    <main class="container">
        <div>
            <div>
                <% for(let idx=0; idx < posts.length; idx++){ %>
                    <% const post=posts[idx] %>
                        <div>
                            <img class="card-image" src="<%= post.image %>" alt="Placeholder image" />
                            <div class>
                                <h3><a href="/products/<%= post._id %>"><%= post.caption %></a></h3>
                            <p>$<%= post.username %>
                            <!-- add a delete form here  -->
                            <div>
                                <form method="POST" action="/products/<%= product._id %>?_method=DELETE">            <!-- "/products/0?_method=DELETE" -->
                                    <input type="submit" value="Delete Product"/>
                                </form>
                            </div>
                        </p>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
</body>

</html>