<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs',{ pageName :  "Home of all things Danny DeVito" }) %>
    <%- include('partials/nav.ejs')%>
<body>
    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div class="post">
                    <div class="user">
                        <div>
                            <% for(let idx=posts.length-1; idx >= 0; idx--){ %>
                                <% const post=posts[idx] %>
                                <% const postId=JSON.stringify(posts[idx]._id) %>
            
                                    <div class="images">    
                                        <a href="/posts/<%= post._id %>" class="username"><%= post.username %></a>
                                        <div>
                                        <h3><a href="/posts/<%= post._id %>"><img class="card-image" src="<%= post.image %>" alt="Placeholder image" /></a></h3>
                                    </div>
                                        <form class="delete" method="POST" action="/posts/<%= post._id %>?_method=DELETE">            
                                        <input type="submit" value="delete photo"/>
                                        </form>
                                       
                                        <form method="POST" action="/posts/<%= post._id %>?_method=PUT">
                                            <div>
                                               
                                                <input type="hidden" name="username" value="<%= post.username%>" />
                                              </div>
                                              <div class="cap-com">
                                                
                                                <input type="hidden" name="caption" value="<%= post.caption%>" />
                                              </div>
                                              <div>
                                                
                                                <input type="hidden" name="image" value="<%= post.image%>" />
                                              </div>
                                              <div class="like-button">
                                                
                                                <input type="submit" value="♡" class="btn btn-dark" id=<%= `like-btn${idx}`
                                                %> />
                                                <input class="likes" type="text" name="likes" id=<%= `like-display${idx}` %> value="<%= post.likes %>">
                                              </div>
                                        
                                                    </form>
                                         
                                            <h3 class="index-username"><%= post.username %> : <%= post.caption %> </h3>
                                            
            
                                            <%for (i=0; i< comments.length; i++){%>
                                                <% if (JSON.stringify(comments[i].post) === postId){ %> 
                                                <p class="index-comments"> <%= comments[i].comment%> </p>
                                                <%}%>
                                            <%}%>
                            <% } %>
                        </div>
                    </div>
                    </div> 
                    </div>
                
                </div>
              
            </div>
            <div class="right-col">
            </div>
        </div>
    </section>
            
    </main>
</body>
</html>