<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs',{ pageName :  "Home of all things Danny DeVito" }) %>

<body>
    <%- include('partials/nav.ejs')%>


    <main class="container">
        <div>
            <div>
                <% for(let idx=posts.length-1; idx >= 0; idx--){ %>
                    <% const post=posts[idx] %>
                    <% const postId=JSON.stringify(posts[idx]._id) %>

                        <div class="post-body">
                            <h3><a href="/posts/<%= post._id %>"><%= post.username %></a></h3>
                            <h3><a href="/posts/<%= post._id %>"><img class="card-image" src="<%= post.image %>" alt="Placeholder image" /></a></h3>

                            
                            <div class>
                               
                                <form method="POST" action="/posts/<%= post._id %>?_method=PUT">
                                    <div>
                                        <label>Post username</label>
                                        <input type="hidden" name="username" value="<%= post.username%>" />
                                      </div>
                                      <div>
                                        <label>Post caption</label>
                                        <input type="hidden" name="caption" value="<%= post.caption%>" />
                                      </div>
                                      <div>
                                        <label>Post image</label>
                                        <input type="hidden" name="image" value="<%= post.image%>" />
                                      </div>
                                      <div>
                                        
                                        <input type="submit" value="Like this post!" class="btn btn-dark" id=<%= `like-btn${idx}`
                                        %> />
                                        <input type="text" name="likes" id=<%= `like-display${idx}` %> value="<%= post.likes %>">
                                      </div>
                                      <!-- <div><button type="button" class="btn btn-dark" id=<%=// `likeBtn${idx}`
                                        %>>♡</button></div> -->
                                
                                            </form>
                                
                                <h3>Caption: <%= post.caption %> </h3>
                                <h3>Comments: </h3>

                                <%for (i=0; i< comments.length; i++){%>
                                    <% if (JSON.stringify(comments[i].post) === postId){ %> 
                                    <p><%= comments[i].comment%> </p>
                                    <%}%>
                                <%}%>
                            <div>
                                <form class="delete" method="POST" action="/posts/<%= post._id %>?_method=DELETE">            
                                    <input type="submit" value="Delete Post"/>
                                </form>
                                <p><%= posts[idx]._id.getTimestamp() %> </p>
                            </div>
                        </p>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
</body>

</html>