<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs',{ pageName :  "Home of all things Danny DeVito" }) %>

<body>
    <%- include('partials/nav.ejs')%>

    <section>
        <div>
            <h2 class="title">Dannygram ❤️</h2>
        </div>
    </section>

    <main class="container">
        <div>
            <div>
                <% for(let idx=posts.length-1; idx >= 0; idx--){ %>
                    <% const post=posts[idx] %>
                    <% const postId=JSON.stringify(posts[idx]._id) %>
                    <p><%= posts[idx]._id.getTimestamp() %> </p>

                        <div>
                            <h3><a href="/posts/<%= post._id %>"><%= post.username %></a></h3>
                            <h3><a href="/posts/<%= post._id %>"><img class="card-image" src="<%= post.image %>" alt="Placeholder image" /></a></h3>

                            
                            <div class>
                            <button class="btn" id=<%= `likeBtn${idx}` %> >Like this picture</button>
                             

                                <h3 id=<%= `likes${idx}` %> >Likes:  </h3>
                                <h3>Caption: <%= post.caption %> </h3>
                                <h3>Comments: </h3>

                                <%for (i=0; i< comments.length; i++){%>
                                    <% if (JSON.stringify(comments[i].post) === postId){ %> 
                                    <p><%= comments[i].comment%> </p>
                                    <%}%>
                                <%}%>
                                
                                
                            <!-- add a delete form here  -->
                            <div>
                                <form method="POST" action="/posts/<%= post._id %>?_method=DELETE">            <!-- "/posts/0?_method=DELETE" -->
                                    <input type="submit" value="Delete Post"/>
                                </form>
                            </div>
                        </p>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
</body>

</html>