<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs',{ pageName :  "Home of all things Danny DeVito" }) %>


<body>
    <%- include('partials/nav.ejs')%>

    <section>
        <div>
            <h2 class="title">Welcome to dannygram ❤️</h2>
        </div>
    </section>

    <main class="container">
        <div>
            <div>
                <% for(let idx=0; idx < posts.length; idx++){ %>
                    <% const post=posts[idx] %>
                        <div>
                            <img class="card-image" src="<%= post.image %>" alt="Placeholder image" />
                            <div class>
                                <h3><a href="/posts/<%= post._id %>"><%= post.username %></a></h3>
                            <!-- <p>$<%= post.price %> -->
                            <!-- add a delete form here  -->
                            <div>
                                <form method="POST" action="/posts/<%= post._id %>?_method=DELETE">            <!-- "/posts/0?_method=DELETE" -->
                                    <input type="submit" value="Delete Post"/>
                                </form>
                            </div>
                        </p>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
</body>

</html>