<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { pageName: onePost.name }) %>
  <body>
    <%- include('partials/nav.ejs')%>
    <h1>Show Page</h1>
    <p><%= message %></p>
    <!-- post object referenced by onePost -->
    <h2><%= onePost.name %></h2>
    <small><%= onePost.price %></small>
    <img class="show-image" src="<%=onePost.image%>" alt="<%=onePost.name %>" />
    <div>
      <a href="/posts/<%= onePost._id %>/edit">Edit <%= onePost.name %></a>
    </div>


    <section>
        <h2>Comments Below</h2>
        <div>
            <h3>Add a comment:</h3>
            <!-- form here -->
            <form method="POST" action="/comments">
                <input name="comment" type="text" />
                <input type="hidden" name="post" value="<%=onePost.id%>"/>
                <input type="submit" value="Share your thoughts..."/>
            </form>
        </div>
        <% for(let i=0;i<comments.length;i++){ %>
            <div>
                <p><%=comments[i].comment %></p>
                <p><%= //onePost.id%> </p>
            </div>
        <%}%>
    </section>

  </body>
</html>
